/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

body {
  font-family: "Roboto", sans-serif;
  background-color: #f7f8fb;
}
.floated-label-wrapper {
  position: relative;
}

.floated-label-wrapper label {
  background: #fefefe;
  color: #1779ba;
  font-size: 0.75rem;
  font-weight: 600;
  left: 0.75rem;
  opacity: 0;
  padding: 0 0.25rem;
  position: absolute;
  top: 2rem;
  transition: all 0.15s ease-in;
  z-index: -1;
}

.floated-label-wrapper label input[type="text"],
.floated-label-wrapper label textarea[type="text"] {
  border-radius: 4px;
  font-size: 1.75em;
  padding: 0.5em;
}

.floated-label-wrapper label.show {
  opacity: 1;
  top: -0.85rem;
  z-index: 1;
  transition: all 0.15s ease-in;
}

.suggested-country {
  border: 1px rgb(109, 108, 108) solid;
  background-color: #f3efef;
  margin-top: 0;
}

.country-input {
  margin-bottom: 0;
}

.world-map {
  width: 60%;
  height: auto;
  fill: transparent;
  border: 1px black solid;
}

.map-container {
  width: 80%;
  align-items: center;
}

/* svg {
  display: inline-block;
  vertical-align: middle;
} */

svg .fukk {
  fill: rebeccapurple;
}
.world-map {
  width: 65%;
  height: auto;
  fill: transparent;
  border: 1px black solid;
  margin: 0 auto;
  position: relative;
}

.map-container {
  width: 85%;
  align-items: center;
}

/* svg {
  display: inline-block;
  vertical-align: middle;
} */

/* search */
.search-bar-container {
  width: 65%;
  margin: 0 auto;
  padding-bottom: -50px;
  height: 50px;
  position: relative;
}

.search-bar {
  background: transparent;
  border: 1px solid #f6f6f6;
  font-size: 15px;
  padding-left: 20px;
  color: #4e5860;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  width: 100%;
  height: 100%;
  margin-bottom: -200px;
}

.search-bar:focus {
  outline: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.search-bar-icon {
  position: absolute;
  right: 13px;
  top: 10px;
  font-size: 17px;
  color: #22447e;
}

.line-height-1 {
  line-height: 1;
}

.search-result {
  position: absolute;
  top: 52px;
  width: 100%;
  max-height: 350px;
  overflow-y: auto;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.28);
}

.list-group {
  display: grid;
}

.list-group-item {
  cursor: pointer;
  list-style-type: none;
  background-color: #ffffff;
}

.list-group-item.active,
.list-group-item:hover {
  background-color: #e1e3e5;
  border-color: #d3d5d7;
}

.search-region {
}

.search-capital {
}

/* Posts */

.post-form-row {
  display: flex;
  gap: 0.5rem;
  margin-left: 6em;
  margin-right: 6em;
}

.post-input-container {
  width: 100%;
}

.post-input {
  flex-grow: 1;
  resize: none;
  height: 70px;
  border-radius: 0.5em;
  padding: 0.5em;
  font-size: inherit;
  font-family: inherit;
  border: 2px solid #7a85ff;
  line-height: 1.4;
}

.post-input-title {
  flex-grow: 1;
  resize: none;
  height: 40px;
  border-radius: 0.5em;
  padding: 0.5em;
  font-size: inherit;
  font-family: inherit;
  border: 2px solid #7a85ff;
  line-height: 1.4;
}

.post-input-title:focus {
  border-color: #5765ff;
}

.post-input:focus {
  border-color: #5765ff;
}

.post-submit-btn {
  padding: 0 1em;
  height: 7.8em;
  background: #5765ff;
  border: none;
  color: white;
  border-radius: 0.5em;
  font-size: 1em;
  cursor: pointer;
  margin: 0;
}

.post-item {
  padding: 0.5rem;
  border: 1px solid #5765ff;
  border-radius: 0.5rem;
  background-color: #7a85ff27;
  margin-top: 10px;
  margin-left: 5em;
  margin-right: 5em;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

.post-header {
}

.post-body {
}

.post-date {
}

.post-footer {
  display: flex;
  gap: 0.5rem;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
}
/* Comments */

.comment-item {
  padding: 0.5rem;
  border: 1px solid hsl(235, 100%, 90%);
  border-radius: 0.5rem;
  margin-top: 10px;
  margin-left: 5em;
  margin-right: 5em;
}

.comment-submit-btn {
  padding: 0 1em;
  height: 4.4em;
  background: #5765ff;
  border: none;
  color: white;
  border-radius: 0.5em;
  font-size: 1em;
  cursor: pointer;
  margin: 0;
}

.submit-btn:hover,
.submit-btn:focus-visible {
  background: #7a85ff;
}

.comment-form-row {
  display: flex;
  gap: 0.5rem;
  margin-left: 5em;
  margin-right: 5em;
}

.comment-input {
  flex-grow: 1;
  resize: none;
  height: 70px;
  border-radius: 0.5em;
  padding: 0.5em;
  font-size: inherit;
  font-family: inherit;
  border: 2px solid #7a85ff;
  line-height: 1.4;
}

.comment-input:focus {
  border-color: #5765ff;
}

.comment-date {
  color: #5765ff;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.25rem;
  font-size: 0.75em;
}

.comment-body {
  white-space: pre-wrap;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.comment-date {
  margin-left: 0.5rem;
}

.comment-footer {
  display: flex;
  gap: 0.5rem;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
}

.comment-icon {
  background: none;
  color: #5765ff;
  padding: 0.25em;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.comment-icon:hover,
.comment-icon:focus-visible {
  color: #7a85ff;
}

.comments-list {
  margin: 0.5rem 0;
}

/* Register Form */

.form-container {
  margin-top: 9%;
}

.register-form {
  height: 500px;
  width: 500px;
  background-color: #f9f9f9;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 10px 40px 0 rgba(0, 0, 0, 0.2);
  border-radius: 9px;
  border: 1px solid #7a85ff41;
}

.form-header {
  text-align: center;
  margin-top: 20px;
  color: #5765ff;
}

.form-input-container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.form-input {
  width: 100%;
  padding: 12px;
  box-sizing: border-box;
  border: 1px solid #c1c1c1;
  border-radius: 4px;
  margin-bottom: 8px;
  margin-left: auto;
  margin-right: auto;
}

.form-input:focus {
  border: 1px solid #5765ff9a;
}

.form-btn-container {
  margin-left: 30%;
}

.form-btn {
  color: #f9f9f9;
  background-color: #5765ff;
  padding: 7px;
  width: 60%;
  height: 40px;
  border: 0px;
  border-radius: 4px;
  margin-top: 15px;
  font-size: large;
  cursor: pointer;
}

.form-btn:hover {
  background-color: #7a85ff;
}

.register-login-btn {
  text-align: center;
  margin-top: 15px;
  margin-left: 2%;
}

/* Login Form */

.login-form {
  height: 430px;
  width: 500px;
  background-color: #f9f9f9;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 10px 40px 0 rgba(0, 0, 0, 0.2);
  border-radius: 9px;
  border: 1px solid #7a85ff41;
}

.form-alt-link {
  text-align: center;
  margin-top: 15px;
  margin-left: 2%;
}

/* Country Header */

.country-header {
  background-size: cover;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
}

.country-header-text {
  color: white;
  text-shadow: 1px 1px 2px black;
  font-size: 60px;
}

.country-header-credit {
  background-color: #7a85ff;
  color: white;
  height: 20px;
  font-size: 13px;
  margin-bottom: 20px;
  padding-left: 20px;
}

/* Landing Page Header */

.marketing-site-hero {
  background: url("https://images.unsplash.com/photo-1476514525535-07fb3b4ae5f1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2370&q=80")
    top right no-repeat;
  height: 65vh;
  background-size: cover;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

@media screen and (min-width: 40em) {
  .marketing-site-hero {
    background-position: center center;
  }
}

.marketing-site-hero-content {
  max-width: 75rem;
  margin: 0 auto;
  padding-left: 5%;
  padding-right: 5%;
}

.marketing-site-hero-content h1 {
  font-size: 50px;
}

.marketing-site-hero-content p {
  color: white;
}

.marketing-site-hero-content .button.round {
  border-radius: 5000px;
  text-transform: uppercase;
  font-size: 12px;
  margin-bottom: 0;
}

@media screen and (min-width: 40em) {
  .marketing-site-hero-content {
    padding-left: 50%;
  }
}
