/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */
.floated-label-wrapper {
  position: relative;
}

.floated-label-wrapper label {
  background: #fefefe;
  color: #1779ba;
  font-size: 0.75rem;
  font-weight: 600;
  left: 0.75rem;
  opacity: 0;
  padding: 0 0.25rem;
  position: absolute;
  top: 2rem;
  transition: all 0.15s ease-in;
  z-index: -1;
}

.floated-label-wrapper label input[type="text"],
.floated-label-wrapper label textarea[type="text"] {
  border-radius: 4px;
  font-size: 1.75em;
  padding: 0.5em;
}

.floated-label-wrapper label.show {
  opacity: 1;
  top: -0.85rem;
  z-index: 1;
  transition: all 0.15s ease-in;
}

.suggested-country {
  border: 1px rgb(109, 108, 108) solid;
  background-color: #f3efef;
  margin-top: 0;
}

.country-input {
  margin-bottom: 0;
}

.world-map {
  width: 60%;
  height: auto;
  fill: transparent;
  border: 1px black solid;
}

.map-container {
  width: 80%;
  align-items: center;
}

/* svg {
  display: inline-block;
  vertical-align: middle;
} */

svg .fukk {
  fill: rebeccapurple;
}
.world-map {
  width: 65%;
  height: auto;
  fill: transparent;
  border: 1px black solid;
  margin: 0 auto;
  position: relative;
}

.map-container {
  width: 85%;
  align-items: center;
}

/* svg {
  display: inline-block;
  vertical-align: middle;
} */

/* search */
.search-bar-container {
  width: 65%;
  margin: 0 auto;
  padding-bottom: -50px;
  height: 50px;
  position: relative;
}

.search-bar {
  background: transparent;
  border: 1px solid #f6f6f6;
  font-size: 15px;
  padding-left: 20px;
  color: #4e5860;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  width: 100%;
  height: 100%;
  margin-bottom: -200px;
}

.search-bar:focus {
  outline: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.search-bar-icon {
  position: absolute;
  right: 13px;
  top: 10px;
  font-size: 17px;
  color: #22447e;
}

.line-height-1 {
  line-height: 1;
}

.search-result {
  position: absolute;
  top: 52px;
  width: 100%;
  max-height: 350px;
  overflow-y: auto;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.28);
}

.list-group {
  display: grid;
}

.list-group-item {
  cursor: pointer;
  list-style-type: none;
  background-color: #ffffff;
}

.list-group-item.active,
.list-group-item:hover {
  background-color: #e1e3e5;
  border-color: #d3d5d7;
}

.search-region {
}

.search-capital {
}
